*.tfstate
*.tfstate.*

*.log

.terraform/

terraform.tfstate.backup

*.tfvars

.terraform.lock.hcl

venv/*

__pycache__


.idea/*

# Flutter/Dart specific files inside the app directory
app/.build/
app/.android/
app/.ios/
app/.windows/
app/.linux/
app/.macos/
app/test/
app/.idea/
app/*.lock
app/*.log
app/.dart_tool/
app/.packages
app/.pub-cache/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.flutter-versions
app/.gradle/
app/.vscode/

# Allow only the lib folder inside the app directory
!app/lib/
!app/lib/**

# General ignores
*.lock
*.log
.DS_Store
Thumbs.db
